In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Loading raw data
path = "Raw/travel_restrictions.csv"
travel_restrictions_raw= pd.read_csv(path) 

travel_restrictions_raw

,adm0_name,iso3,X,Y,published,sources,info,optional1,optional2,optional3,ObjectId
0,Kiribati,KIR,-157.364320,1.857760,28.06.2020,"<a href=""https://www.gov.uk/foreign-travel-adv...",Latest News: Tarawa (TRW) is closed. Extremely...,20200628.0,Quarantine requirement outside territory.\nKir...,COVID-19 negative certification required for e...,1
1,Kosovo,RKS,20.966191,42.467542,21.01.2021,"<a href=""https://www.gov.uk/foreign-travel-adv...",Latest News: Authorities order weekend lockdow...,20210121.0,Self-isolation at own accommodation- subject t...,COVID-19 negative certification required for e...,2
2,Kuril Islands,"RUS, JPN",147.877949,45.076156,NaN,NaN,NaN,NaN,NaN,NaN,3
3,Kuwait,KWT,47.492598,29.539720,05.02.2021,"<a href=""https://www.gov.uk/foreign-travel-adv...",Latest News: Government bans entry for non-cit...,20210205.0,Self-isolation at own accommodation.\n\nOn ent...,COVID-19 negative certification required for e...,4
4,Kyrgyzstan,KGZ,74.523246,41.462046,01.02.2021,"<a href=""https://www.covidchecker.com/en/"">SIT...",Latest News: Government reopens borders for fo...,20210201.0,Quarantine requirement at government designate...,COVID-19 negative certification required for e...,5
...,...,...,...,...,...,...,...,...,...,...,...
284,Jordan,JOR,37.129891,30.653807,11.02.2021,"<a href=""https://www.osac.gov/Content/Report/c...",International Restrictions:\n**From 20JAN21 pa...,20210211.0,No qurantine requirement.\n\nPassengers arrivi...,COVID-19 negative certification required for e...,285
285,Juan de Nova Island,xFR,42.725159,-17.055056,NaN,NaN,NaN,NaN,NaN,NaN,286
286,Kazakhstan,KAZ,66.653592,48.019634,01.02.2021,"<a href=""https://www.gov.uk/foreign-travel-adv...",Latest News: Kazakhstan government allows resu...,20210201.0,Self-isolation at own accommodation- subject t...,COVID-19 negative certification required for e...,287
287,Kenya,KEN,37.861019,0.534720,03.02.2021,"UNHAS\n <a href=""https://www.osac.gov/Content...",Latest News: Digitally-verified negative COVID...,20210203.0,Quarantine requirement at government designate...,COVID-19 negative certification required for e...,288
288,Kingman Reef,UMI,-162.561400,6.478546,NaN,NaN,NaN,NaN,NaN,NaN,289

In [2]:
#Rename columns 
travel_restrictions_raw.rename(columns = {'adm0_name':'Country', 'iso3':'Country_id', 
                              'optional2':'Quarantine_type', 'published': 'Quarantine_start_date'}, inplace = True)

#Only keeping relevant columns 
columns_to_keep = ["Country", "Country_id", "Quarantine_type", "Quarantine_start_date"]

Renamed_df = travel_restrictions_raw[columns_to_keep]
Renamed_df

,Country,Country_id,Quarantine_type,Quarantine_start_date
0,Kiribati,KIR,Quarantine requirement outside territory.\nKir...,28.06.2020
1,Kosovo,RKS,Self-isolation at own accommodation- subject t...,21.01.2021
2,Kuril Islands,"RUS, JPN",NaN,NaN
3,Kuwait,KWT,Self-isolation at own accommodation.\n\nOn ent...,05.02.2021
4,Kyrgyzstan,KGZ,Quarantine requirement at government designate...,01.02.2021
...,...,...,...,...
284,Jordan,JOR,No qurantine requirement.\n\nPassengers arrivi...,11.02.2021
285,Juan de Nova Island,xFR,NaN,NaN
286,Kazakhstan,KAZ,Self-isolation at own accommodation- subject t...,01.02.2021
287,Kenya,KEN,Quarantine requirement at government designate...,03.02.2021
288,Kingman Reef,UMI,NaN,NaN

In [3]:
date_list = [str(x).replace('.', '-') for x in Renamed_df['Quarantine_start_date']]
date_list_edited = ['01-01-01' if x == 'nan' else x for x in date_list]
date_list_reedited = ['04-02-20' if x == '04-02-20201' else x for x in date_list_edited]
Renamed_df['Quarantine_start_date'] = date_list_reedited

<ipython-input-3-b799f9a2a2e3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Renamed_df['Quarantine_start_date'] = date_list_reedited

In [4]:
# changing start date to datetime object
Renamed_df['Quarantine_start_date'] = pd.to_datetime(Renamed_df['Quarantine_start_date'])
print(Renamed_df['Quarantine_start_date'].dtype)
Renamed_df.head()

datetime64[ns]

<ipython-input-4-f23dfd4f507a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Renamed_df['Quarantine_start_date'] = pd.to_datetime(Renamed_df['Quarantine_start_date'])

,Country,Country_id,Quarantine_type,Quarantine_start_date
0,Kiribati,KIR,Quarantine requirement outside territory.\nKir...,2020-06-28
1,Kosovo,RKS,Self-isolation at own accommodation- subject t...,2021-01-21
2,Kuril Islands,"RUS, JPN",NaN,2001-01-01
3,Kuwait,KWT,Self-isolation at own accommodation.\n\nOn ent...,2021-05-02
4,Kyrgyzstan,KGZ,Quarantine requirement at government designate...,2021-01-02

In [5]:
#Rename NaNs in Quarantine type to "unknown"
non_nans_df= Renamed_df.fillna("Unknown")
non_nans_df

,Country,Country_id,Quarantine_type,Quarantine_start_date
0,Kiribati,KIR,Quarantine requirement outside territory.\nKir...,2020-06-28
1,Kosovo,RKS,Self-isolation at own accommodation- subject t...,2021-01-21
2,Kuril Islands,"RUS, JPN",Unknown,2001-01-01
3,Kuwait,KWT,Self-isolation at own accommodation.\n\nOn ent...,2021-05-02
4,Kyrgyzstan,KGZ,Quarantine requirement at government designate...,2021-01-02
...,...,...,...,...
284,Jordan,JOR,No qurantine requirement.\n\nPassengers arrivi...,2021-11-02
285,Juan de Nova Island,xFR,Unknown,2001-01-01
286,Kazakhstan,KAZ,Self-isolation at own accommodation- subject t...,2021-01-02
287,Kenya,KEN,Quarantine requirement at government designate...,2021-03-02
288,Kingman Reef,UMI,Unknown,2001-01-01

In [6]:
#Drop any Country ID's with more than one country ID or starts with x (They are territories)
df = non_nans_df[~non_nans_df["Country_id"].str.contains(",")&~non_nans_df["Country_id"].str.contains("x")]

df

,Country,Country_id,Quarantine_type,Quarantine_start_date
0,Kiribati,KIR,Quarantine requirement outside territory.\nKir...,2020-06-28
1,Kosovo,RKS,Self-isolation at own accommodation- subject t...,2021-01-21
3,Kuwait,KWT,Self-isolation at own accommodation.\n\nOn ent...,2021-05-02
4,Kyrgyzstan,KGZ,Quarantine requirement at government designate...,2021-01-02
5,Lao People's Democratic Republic,LAO,Quarantine requirement at government designate...,2021-04-02
...,...,...,...,...
283,Johnston Atoll,UMI,Unknown,2001-01-01
284,Jordan,JOR,No qurantine requirement.\n\nPassengers arrivi...,2021-11-02
286,Kazakhstan,KAZ,Self-isolation at own accommodation- subject t...,2021-01-02
287,Kenya,KEN,Quarantine requirement at government designate...,2021-03-02
288,Kingman Reef,UMI,Unknown,2001-01-01

In [7]:
df.reset_index(drop= True, inplace =True)
df

,Country,Country_id,Quarantine_type,Quarantine_start_date
0,Kiribati,KIR,Quarantine requirement outside territory.\nKir...,2020-06-28
1,Kosovo,RKS,Self-isolation at own accommodation- subject t...,2021-01-21
2,Kuwait,KWT,Self-isolation at own accommodation.\n\nOn ent...,2021-05-02
3,Kyrgyzstan,KGZ,Quarantine requirement at government designate...,2021-01-02
4,Lao People's Democratic Republic,LAO,Quarantine requirement at government designate...,2021-04-02
...,...,...,...,...
262,Johnston Atoll,UMI,Unknown,2001-01-01
263,Jordan,JOR,No qurantine requirement.\n\nPassengers arrivi...,2021-11-02
264,Kazakhstan,KAZ,Self-isolation at own accommodation- subject t...,2021-01-02
265,Kenya,KEN,Quarantine requirement at government designate...,2021-03-02
266,Kingman Reef,UMI,Unknown,2001-01-01

In [8]:
#Save to output file 
df.to_csv('Clean/travel_restrictions_clean.csv', index=False)